
## <summary>policy for Kron</summary>


########################################
## <summary>
##	Transition to Kron.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`Kron_domtrans',`
	gen_require(`
		type Kron_t, Kron_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, Kron_exec_t, Kron_t)
')


########################################
## <summary>
##	Execute Kron server in the Kron domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Kron_initrc_domtrans',`
	gen_require(`
		type Kron_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, Kron_initrc_exec_t)
')


########################################
## <summary>
##	Search Kron lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Kron_search_lib',`
	gen_require(`
		type Kron_var_lib_t;
	')

	allow $1 Kron_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read Kron lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Kron_read_lib_files',`
	gen_require(`
		type Kron_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, Kron_var_lib_t, Kron_var_lib_t)
')

########################################
## <summary>
##	Manage Kron lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Kron_manage_lib_files',`
	gen_require(`
		type Kron_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, Kron_var_lib_t, Kron_var_lib_t)
')

########################################
## <summary>
##	Manage Kron lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Kron_manage_lib_dirs',`
	gen_require(`
		type Kron_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, Kron_var_lib_t, Kron_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a Kron environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`Kron_admin',`
	gen_require(`
		type Kron_t;
		type Kron_initrc_exec_t;
		type Kron_var_lib_t;
	')

	allow $1 Kron_t:process { ptrace signal_perms };
	ps_process_pattern($1, Kron_t)

	Kron_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 Kron_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, Kron_var_lib_t)

')

